@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

* {
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-mw: 640px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 300;
  font-size: 17px;
}

body:has(.rental-fees-bg) .rental-fees-bg {
  background-color: var(--lightSky);
}
p { margin-bottom: 15px;}
footer p { margin-bottom: 0;}
header{ border-bottom: 1px solid #ffffff50;}
.address:not(:last-child){ margin-bottom: 15px;}
.footerLogo { max-width: 150px;}
.rotate-x-90 { transform: rotateX(90deg);}
.group:hover .group-hover\:rotate-x-0 { transform: rotateX(0deg);}

.menu-hani { interpolate-size:allow-keywords; transition: height 0.2s ease-in-out; transition-behavior: allow-discrete;}
.menuh-0 { height: 0;}
.group:hover .group-hover\:menuh-auto {height: auto;}

.styled-legend.post-10 { top: -10px; margin-top: 0;}

header .btnplr-50 {
  padding-left: calc(var(--container-mw) / 25);
  padding-right: calc(var(--container-mw) / 25);
}
header .btnplr-30tb15 {
  padding: calc(var(--container-mw) / 100) calc(var(--container-mw) / 35);
}
header .btnplr-30 {
  padding-left: calc(var(--container-mw) / 50);
  padding-right: calc(var(--container-mw) / 50);
}
header .wh30-15 {
  width: calc(var(--container-mw) / 17);
  height: calc(var(--container-mw) / 30);
}
header .wh30 {
  width: calc(var(--container-mw) / 17);
}
.section-py-80{
  padding-top: calc(var(--container-mw) / 18);
  padding-bottom: calc(var(--container-mw) / 18);
}
.space-mb-30{
  margin-bottom: calc(var(--container-mw) / 30);
}
.h100 { height: 100%;}
.noshadow { box-shadow: none;}
.noborder { border: none !important;}
header img {
  max-width: calc(var(--container-mw) / 5);
}
.borderlr1p-light{
  border-width: 1px;
  border-style: solid;
  border-color: transparent #ffffff50 transparent #ffffff50;
}
/* Apply padding-top to main when body does not have the .hero class */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sky: #c5dfff;
    --lightSky: #ebf8fc;
    --black: #232323;
    --deepBlack: #000000;
    --flatBlue: #13afe2;
    --darkBlue: #052449;
    --fontColor: #052449;
    --grayColor: #b2b1b1;
    --grayColor2: #636363;
    --white: #ffffff;
    --ceo: #4aae4f;
    --admin: #2095f3;
    --cfuser: #fdbb00;
    --buttonGrd1: #6edcfc;
    --buttonGrd2: #4facfe;
    --blueGrd1: #4285ec;
    --blueGrd2: #0bbafb;
    --darkblueGrd1: #001135;
    --darkblueGrd2: #133f83;
    --contentFont: "Roboto", sans-serif;
    --mainHeadingFont: "Prata", serif;
    --cursiveHeadingFont: "Great Vibes", cursive;
    --thin100: 100;
    --light300: 300;
    --regular400: 400;
    --mid500: 500;
    --bold700: 700;
    --bold900: 900;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --light_primary: #cce5ff;
    --light_secondary: #e2e3e5;
    --light_success: #d4edda;
    --light_danger: #f8d7da;
    --light_warning: #fff3cd;
    --light_info: #d1ecf1;
    --light_light: #fefefe;
    --light_dark: #d6d8d9;
    /* --newportIcon: url(../img/NewportLogo/Logo-Icon.png);
    --windwardIcon: url(../img/Windward/Logo-Icon.png);
    --logoIcon: var(--windwardIcon);
    */
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground;
  }
}

/* body:not(.hero) main {
  padding-top: 80px;
} */
/* styles.css */
.bg-custom {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(12, 36, 66, 0.79) 0%,
      rgba(11, 71, 119, 0.79) 100%
    ),
    url("/images/highlight-banner.jpg");
}
.border-30 {
  border-width: 30px;
}

.triangle {
  position: absolute;
  top: -30px; /* Position it just above the top border */
  left: 20px; /* Adjust based on your layout */
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #2d2d2d; /* Same color as the border */
}

.footer-background {
  background: linear-gradient(90deg, #072f6cc9 0%, #072f6cc9 100%),
    url("/images/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}
.great-vibes-regular {
  font-family: "Great Vibes", system-ui;
  font-weight: 400;
  font-style: normal;
}
/* App.css */
:root {
  --background-color: #fff; /* Default background color */
  --text-color: #000; /* Default text color */
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.theme-toggle {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--background-color);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.theme-toggle:hover {
  opacity: 0.8; /* Slightly fade on hover */
}
.legend-container {
  position: relative;
  /* display: inline-block; */
  margin-bottom: 1rem;
}

.styled-legend {
  display: inline;
  width: inherit;
  padding: 0px 20px;
  margin-bottom: 0;
  top: 54px;
  left: 10px;
  margin-left: 15px;
  font-size: 14px;
  line-height: inherit;
  color: #ffffff;
  background: var(--flatBlue);
  border: 0;
  border-bottom: none;
  border-radius: 0 0 4px 4px;
  position: absolute;
}

.styled-legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent #222d32 #222d32 transparent;
}

.dflxDiv {
  display: flex;
}
.columns2 {
  columns: 2;
}

.glossy-button {
  display: flex; /* Center content */
  justify-content: center; /* Center content */
  align-items: center; /* Center content */
  line-height: 1.2; /* Line height */
  position: relative; /* For positioning effects */
  margin: 0; /* Reset margin */
  background-color: #aaa; /* Default background */

  text-transform: uppercase; /* Uppercase text */
  border: none; /* No border */
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.7); /* Text shadow */

  cursor: pointer; /* Pointer on hover */
  transition: all ease 0.5s; /* Smooth transition */
}

/* Optional: Add a gradient background for hover effect */
/* .glossy-button:hover {
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.6),
    hsla(0, 0%, 100%, 0) 50%,
    hsla(0, 0%, 0%, 0.3) 50%,
    hsla(0, 0%, 100%, 0.2)
  );
} */
.dark-overlay:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(5, 36, 73, 0.91) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.zIndex3 {
  z-index: 3;
}
.box-link { 
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.cardbox:hover button{
  background-color: #ffffff;
  color: var(--darkBlue);
}


/* text and bg classess */
.text-sky{color: var(--sky)}
.text-lightSky{color: var(--lightSky)}
.text-black{color: var(--black)}
.text-deepBlack{color: var(--deepBlack)}
.text-flatBlue{color: var(--flatBlue)}
.text-darkBlue{color: var(--darkBlue)}
.text-fontColor{color: var(--fontColor)}
.text-grayColor{color: var(--grayColor)}
.text-grayColor2{color: var(--grayColor2)}
.text-white{color: var(--white)}
.text-ceo{color: var(--ceo)}
.text-admin{color: var(--admin)}
.text-cfuser{color: var(--cfuser)}
.text-buttonGrd1{color: var(--buttonGrd1)}
.text-buttonGrd2{color: var(--buttonGrd2)}
.text-blueGrd1{color: var(--blueGrd1)}
.text-blueGrd2{color: var(--blueGrd2)}
.text-darkblueGrd1{color: var(--darkblueGrd1)}
.text-darkblueGrd2{color: var(--darkblueGrd2)}
.text-primary{color: var(--primary)}
.text-secondary{color: var(--secondary)}
.text-success{color: var(--success)}
.text-danger{color: var(--danger)}
.text-warning{color: var(--warning)}
.text-info{color: var(--info)}
.text-light{color: var(--light)}
.text-dark{color: var(--dark)}

.bg-sky{background-color: var(--sky)}
.bg-lightSky{background-color: var(--lightSky)}
.bg-black{background-color: var(--black)}
.bg-deepBlack{background-color: var(--deepBlack)}
.bg-flatBlue{background-color: var(--flatBlue)}
.bg-darkBlue{background-color: var(--darkBlue)}
.bg-fontColor{background-color: var(--fontColor)}
.bg-grayColor{background-color: var(--grayColor)}
.bg-grayColor2{background-color: var(--grayColor2)}
.bg-white{background-color: var(--white)}
.bg-ceo{background-color: var(--ceo)}
.bg-admin{background-color: var(--admin)}
.bg-cfuser{background-color: var(--cfuser)}
.bg-buttonGrd1{background-color: var(--buttonGrd1)}
.bg-buttonGrd2{background-color: var(--buttonGrd2)}
.bg-blueGrd1{background-color: var(--blueGrd1)}
.bg-blueGrd2{background-color: var(--blueGrd2)}
.bg-darkblueGrd1{background-color: var(--darkblueGrd1)}
.bg-darkblueGrd2{background-color: var(--darkblueGrd2)}
.bg-primary{background-color: var(--primary)}
.bg-secondary{background-color: var(--secondary)}
.bg-success{background-color: var(--success)}
.bg-danger{background-color: var(--danger)}
.bg-warning{background-color: var(--warning)}
.bg-info{background-color: var(--info)}
.bg-light{background-color: var(--light)}
.bg-dark{background-color: var(--dark)}

@media only screen and (max-width: 1024px){
  .container.px-\[15px\]{
    padding-left: 20px;
    padding-right: 20px;
  }
  .d-only{ display: none;}
  .mob-minh300{ min-height: 300px;}
}
@media (min-width: 640px) {
  :root {
    --container-mw: 640px;
  }
}
@media (min-width: 768px) {
  :root {
    --container-mw: 768px;
  }
}
@media (min-width: 1024px) {
  :root {
    --container-mw: 1024px;
  }
  .m-only{ display: none;}
}
@media (min-width: 1280px) {
  :root {
    --container-mw: 1280px;
  }
}
@media (min-width: 1380px) {
  :root {
    --container-mw: 1380px;
  }
}
body[data-scroll-locked][data-scroll-locked] {
  overflow: auto !important;
}
